@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}
:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --ring: 222.2 84% 4.9%;

  --radius: 0.6rem;

  --tw-shadow-color: hsl(var(--border));

  --px: theme(spacing[3]);
  --py: theme(spacing[2]);
  --font-size: theme(fontSize[base][0]);
  --line-height: theme(fontSize[base][1]);
  --title-font-size: theme(fontSize[md][0]);
  --title-line-height: theme(fontSize[md][1]);
  --sub-title-font-size: theme(fontSize[sm][0]);
  --sub-title-line-height: theme(fontSize[sm][1]);
}

.dark-mode {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;

  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;

  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;

  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;

  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;

  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;

  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;

  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;

  --ring: 212.7 26.8% 83.9%;
}


* {
  @apply border-border;
}
body {
  @apply bg-background text-foreground;
  font-size: var(--font-size);
  line-height: var(--line-height)
}
.icon {
  width: calc(var(--line-height) * 1em);
  height: calc(var(--line-height) * 1em);
}
.text-base .icon {
  width: 1.23076923em;
  height: 1.23076923em;
}
.text-sm .icon {
  width: 1.2173913em;
  height: 1.2173913em;
}
.text-xs .icon {
  width: 1.2em;
  height: 1.2em;
}
.text-xxs .icon {
  width: 1.25em;
  height: 1.25em;
}
.text-md .icon {
  width: 1.24137931em;
  height: 1.24137931em;
}
.text-lg .icon {
  width: 1.25em;
  height: 1.25em;
}
.text-xl .icon {
  width: 1.22222222em;
  height: 1.22222222em;
}
[size="xs"] {
  --px: theme(spacing[2]);
  --py: theme(spacing[1.5]);
  --font-size: theme(fontSize[xs][0]);
  --line-height: theme(fontSize[xs][1]);
  --title-font-size: theme(fontSize[sm][0]);
  --title-line-height: theme(fontSize[sm][1]);
  --sub-title-font-size: theme(fontSize[xxs][0]);
  --sub-title-line-height: theme(fontSize[xxs][1]);
}
[size="sm"] {
  --px: theme(spacing[2.5]);
  --py: 0.7rem;
  --font-size: theme(fontSize[sm][0]);
  --line-height: theme(fontSize[sm][1]);
  --title-font-size: theme(fontSize[base][0]);
  --title-line-height: theme(fontSize[base][1]);
  --sub-title-font-size: theme(fontSize[xs][0]);
  --sub-title-line-height: theme(fontSize[xs][1]);
}
[size="md"] {
  --px: theme(spacing[3.5]);
  --py: 0.9rem;
  --font-size: theme(fontSize[md][0]);
  --line-height: theme(fontSize[md][1]);
  --title-font-size: theme(fontSize[lg][0]);
  --title-line-height: theme(fontSize[lg][1]);
  --sub-title-font-size: theme(fontSize[base][0]);
  --sub-title-line-height: theme(fontSize[base][1]);
}
[size="lg"] {
  --px: theme(spacing[4]);
  --py: theme(spacing[2.5]);
  --font-size: theme(fontSize[lg][0]);
  --line-height: theme(fontSize[lg][1]);
  --title-font-size: theme(fontSize[xl][0]);
  --title-line-height: theme(fontSize[xl][1]);
  --sub-title-font-size: theme(fontSize[md][0]);
  --sub-title-line-height: theme(fontSize[md][1]);
}


.ui-focus-outside,
.ui-outline {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary/50 focus-visible:ring-offset-2;
}

.ui-disable {
  @apply disabled:pointer-events-none disabled:opacity-50 disabled:grayscale;
}

.ui-checked-state {
  @apply data-[state="checked"]:bg-accent data-[state="checked"]:text-accent-foreground;
}

.ui-highlighted {
  @apply data-[highlighted]:bg-accent data-[highlighted]:text-accent-foreground ;
}

.ui-hovered {
  @apply hover:text-accent-foreground hover:bg-accent 
}
.ui-focused {
  @apply focus:bg-accent focus:text-accent-foreground;
}
.ui-focus-within {
  @apply [&:has(:focus-visible)]:outline-none [&:has(:focus-visible)]:ring-2 [&:has(:focus-visible)]:ring-primary/50 [&:has(:focus-visible)]:ring-offset-2 ring-offset-background;
}

.size-xs {
  --px: theme(spacing[2]);
  --py: theme(spacing[1.5]);
  @apply min-h-6 min-w-6 px-[var(--px)] py-[var(--py)] text-xs;
}
.size-sm {
  --px: theme(spacing[2.5]);
  --py: 0.7rem;
  @apply min-h-7 min-w-7 px-[var(--px)] py-[var(--py)] text-sm;
}
.size-default {
  @apply min-h-8 min-w-8 px-[var(--px)] py-[var(--py)];

}
.size-md {
  --px: theme(spacing[3.5]);
  --py: 0.9rem;
  @apply min-h-9 min-w-9 px-[var(--px)] py-[var(--py)] text-md;
}
.size-lg {
  --px: theme(spacing[4]);
  --py: theme(spacing[2.5]);
  @apply min-h-10 min-w-10 px-[var(--px)] py-[var(--py)] text-lg;
}

.shape-circle {
  --radius: 999rem;
}

.shape-circle,
.shape-square {
  --px: var(--py);
  .icon {
    @apply scale-[1.333333333];
  }
}

.ui-data-state-animate {
  @apply data-[state=open]:animate-in data-[state=open]:fade-in-0 data-[state=open]:zoom-in-95;
  @apply data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=closed]:zoom-out-95;
  @apply data-[side=bottom]:slide-in-from-top-2;
  @apply data-[side=left]:slide-in-from-right-2;
  @apply data-[side=right]:slide-in-from-left-2;
  @apply data-[side=top]:slide-in-from-bottom-2;
}
.ui-field {
  @apply relative;
  &:before {
    @apply content-[''] absolute inset-0 border border-input bg-background ring-offset-background focus-within:outline-none focus-within:ring-2 focus-within:ring-primary/50 focus-within:ring-offset-2 rounded-md;
  }
  > .ui-field__content {
    @apply relative flex z-0;
  }
}
.gradient-border {
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
}
.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.5rem;
  padding: 0.2rem;
  width: 100%;
  background-size: 400% auto;
  opacity: 0.5;
  transition: background-position 0.3s ease-in-out, opacity 0.2s ease-in-out;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.gradient-border:hover::before {
  background-position: -50% 0;
  opacity: 1;
}
/* @media (prefers-color-scheme: dark) { */
  .gradient-border::before {
    background-image: linear-gradient(90deg, #303030 0%, #303030 25%, #00DC82 50%, #36E4DA 75%, #0047E1 100%);
  }
/* } */